@import "base";

.add-button {
  position: absolute;
  top: - ($button-floating-mini-height / 2);
  right: $button-floating-mini-height / 2;
  z-index: $z-index-higher;
  background-color: $color-accent;
  border-radius: 50%;

   button {
    color: $color-background !important;
  }
}
